/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

*/

/* Modal styles */
.modal .personal-api-log {
	input[type=text] {
		width: 100%;
	}

	.modal-button-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 1rem;

		.setting-item {
			border: none;
			padding: 0;
			margin-left: 0.5rem;
		}

		.setting-item-info {
			display: none;
		}

		.setting-item-control {
			padding: 0;
		}
	}
}

/* Settings tab styles */
.plugin-status-container,
.format-variables-docs {
	background-color: var(--setting-items-background);
	padding: var(--size-4-4);
	border-radius: var(--setting-items-radius);
	margin-bottom: var(--size-4-4);
	margin-top: var(--size-4-2);
}

.status-warning {
	margin-top: 10px;
	font-weight: bold;
}

.placement-explanation {
	margin-bottom: 15px;
	color: var(--text-muted);
}
